@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary  text-white leading-loose   dark:bg-black bg-black dark:bg-dot-white/[0.2] bg-dot-white/[0.2];
  }
  .h1 {
    @apply text-[48px] xl:text-[70px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .hireBtn {
    @apply;
  }
  .mySkillBtn {
    @apply absolute bottom-8 inline-flex h-12 animate-shimmer items-center justify-center rounded-md bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-accent hover:text-accent-hover transition-colors focus:outline-none;
  }
}

.nameGradient {
  font-weight: 800;
  background: linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text; /* For older WebKit browsers */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For older WebKit browsers */
  color: transparent; /* Standard property */
}

.text-outline {
  -webkit-text-stroke: 1px #ffff;
}

/* timeline */
/* .content-box {
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */

/* .content-box:nth-child(1) {
  animation-delay: 1s;
}
.content-box:nth-child(2) {
  animation-delay: 2s;
}
.content-box:nth-child(3) {
  animation-delay: 3s;
}
.content-box:nth-child(4) {
  animation-delay: 4s;
} */

.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #f2aa4cff;
  top: 0;
  left: 50%;
  z-index: -1;
  /* animation: moveline 12s linear forwards; */
}

/* @keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
} */

.left-content {
  left: 0;
}

.right-content {
  left: 50%;
}

.content-box span {
  right: -19px;
}

.right-content span {
  left: -13px;
}

@media screen and (max-width: 600px) {
  .timeline {
    padding-left: 60px;
  }
  .timeline::after {
    left: 31px;
  }
  .content-box {
    width: 100%;
  }
  .right-content {
    left: 0;
  }
  .left-content span,
  .right-content span {
    left: -40px;
  }
  .content-box:nth-child(2) {
    margin-top: 10px;
  }
  .content-box:nth-child(3) {
    margin-top: 10px;
  }
  .content-box:nth-child(4) {
    margin-top: 10px;
  }
}

.button {
  background-color: #6f3c91;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5a2e7e;
}

.button:after {
  content: "";
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(110, 90, 185, 0.5);
}
